In [1]:
name = 'alxender'
age = 23

In [2]:
print(name)
print(age)

alxender
23

In [8]:
print(name,age)

NameError: name 'name' is not defined

In [4]:
print('your name is',name)
print('your age ', age,'year old')

your name is alxender
your age  23 year old

In [6]:
print("aman" , "ayush" , "krishna" ,"kratagya")

aman ayush krishna kratagya

In [7]:
print("aman\nayush\nkrishna\nkratagya")

aman
ayush
krishna
kratagya

In [8]:
print("aman" , "ayush" , "krishna" ,"kratagya",sep="\n")

aman
ayush
krishna
kratagya

In [13]:
print("aman","ayush","krishna","kratagya",sep = " aur ")

aman aur ayush aur krishna aur kratagya

In [14]:
print(1)
print(2)
print(3)

1
2
3

In [15]:
print(1, end=" ")
print(2)
print(3)

1 2
3

f-string=formatted string liberal

In [16]:
x = 5
y = 10
z = 20
print(x,'+',y,'=',x+y)

5 + 10 = 15

In [17]:
print(f'{x} + {y} = {x+y}')

5 + 10 = 15

In [22]:
p1 = 'ayush'
p2 = 'saurabh'
print(f"{p1} has {len(p1)} cahrs")
print(f"{p2} has {len(p2)} cahrs")

ayush has 5 cahrs
saurabh has 7 cahrs

In [25]:
p3 = 'sam'
print(f"{p1:10} = {len(p1)} cahrs")
print(f"{p2:10} = {len(p2)} cahrs")
print(f"{p3:10} = {len(p3)} cahrs")

ayush      = 5 cahrs
saurabh    = 7 cahrs
sam        = 3 cahrs

In [26]:
print(f"{p1:>10} = {len(p1)} cahrs")
print(f"{p2:>10} = {len(p2)} cahrs")
print(f"{p3:>10} = {len(p3)} cahrs")

     ayush = 5 cahrs
   saurabh = 7 cahrs
       sam = 3 cahrs

In [27]:
print(f"{p1:^10} = {len(p1)} cahrs")
print(f"{p2:^10} = {len(p2)} cahrs")
print(f"{p3:^10} = {len(p3)} cahrs")

  ayush    = 5 cahrs
 saurabh   = 7 cahrs
   sam     = 3 cahrs

In [34]:
pi = 22/7
print(f'the value of pi is {pi}')
print(f'the value of pi is {pi:.2f}')
print(f'the value of pi is {pi:.5f}')
print('ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š')

the value of pi is 3.142857142857143
the value of pi is 3.14
the value of pi is 3.14286
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š

In [38]:
city = input("which city do you live in?")

In [39]:
print(f" I live In {city} ")

 I live In lucknow

Type casting

In [40]:
a = 10
print(type(a))
a = bool(a)
print(a,type(a))

<class 'int'>
True <class 'bool'>

In [41]:
a = "100001"
print(type(a)) 
a = int(a)
print(a, type(a))

<class 'str'>
100001 <class 'int'>

In [42]:
pi = int(pi)
print(pi,type(pi))
pi = float(pi)
print(pi, type(pi))

3 <class 'int'>
3.0 <class 'float'>

In [45]:
a = int(input('enter the no.'))
b = int(input('enter the no.'))
print(a**b)

4