# for
 - step based
 - repetation a step n number
 - enumeration
 - traversing iterables

#
 while
- condition based loop
 -

In [1]:
range(1,100)

range(1, 100)

In [3]:
for item in range (10):
    print (item, end=" ")

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range (-10, 11):
    print(i, end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [7]:
for i in range (-10, 11 , 2):
    print(i, end=' ')

-10 -8 -6 -4 -2 0 2 4 6 8 10

In [8]:
for i in range (15 ,0, -1):
    print(i, end=' ')

15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [10]:
for i in range (2, 100 , 2):
    print(i, end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [12]:
for i in range (1, 100 , 2):
    print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [16]:
for _ in range(5):
 print("hello")

hello
hello
hello
hello
hello

In [17]:
name = "albert silvador"
words = ['hi',"hello","Aloha","hola"] 
colors = ('red','green','blue')    
numbers = {1,2,5,6,7,23,12,21,25}

In [21]:
for char in name:
    print(char, end=' ')
print()
for word in words:
    print(word, end=' ')
print()
for c in colors:
    print(c, end=' ')
print()
for i in numbers:
    print(i, end=' ')

a l b e r t   s i l v a d o r
hi hello Aloha hola
red green blue
1 2 5 6 7 12 21 23 25

In [23]:
names = ['harsh','nisahnt','aman','kratagya','ayush','natasha','mahek','akash','krishna']
for idx, value in enumerate(names):
    print(idx ,value)

0 harsh
1 nisahnt
2 aman
3 kratagya
4 ayush
5 natasha
6 mahek
7 akash
8 krishna

In [24]:
surnames = ['srivastav','shukla','raza','jaiswal','singh','kanaujia','singhal','gupta','aggrawal']

for fname , lname , in zip(names,surnames):
    print(fname, lname)

harsh srivastav
nisahnt shukla
aman raza
kratagya jaiswal
ayush singh
natasha kanaujia
mahek singhal
akash gupta
krishna aggrawal

In [25]:
x = [1,2,3,0,4,5,0,6,0,6,7]
for i in x:
    if i ==0:
        continue
    print(i , end =' ')

1 2 3 4 5 6 6 7

In [26]:
for i in x:
    if i == 0:
        break
    print(i , end= " ")

1 2 3

In [27]:
x = []
for i in x:
    print(i, end =" ")

# for - else

In [29]:
for i in range(5):
    name = input("enter name of the person:")
    if name:
        print(f"Hello {name}")
    else:
        break
else:
    print("well done")

Hello ayush
Hello ran
Hello tytry
Hello teru
Hello ty
well done

In [30]:
n = 0
while n < 100:
    print(n)
    n += 10

0
10
20
30
40
50
60
70
80
90

In [32]:
while True:
    num = int(input("enter a number grater than 100:"))
    if num>100:
        print(f'{num}')
    else:
        print(f'{num}')
        break

1